<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="blogs content">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptates quisquam minus
                    officiis
                    ipsam, vitae delectus harum saepe ducimus nam distinctio tenetur.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ullam ea! Aperiam rerum quo est ut
                    beatae
                    eos
                    accusamus, doloribus.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quibusdam perferendis magnam
                    harum
                    voluptatum quasi obcaecati, totam reiciendis eveniet minima iure molestias sint, vel quis ducimus?
                    Doloremque quam numquam iure!</p>

            </div>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>